<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>using raw html in pug</title>
     style
         include ../static/style.css
</head>
<body>
    <nav><ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">service</a></li>
    </ul></nav>
    <div class="container">
        <h1>Contact form</h1>
        <form action="/" class="contact" method="POST">
        <input type="text" name="name" id="name" placeholder="enter your name">
        <input type="number" name="num" id="num" placeholder="enter your number">
        <input type="email" name="email" id="email" placeholder="enter your email">
        <textarea name="messsage" id="messsage" placeholder="enter your messsage"></textarea>
        <button type="submit" class="btn">submit</button>
        </form>
    </div>
</body>
</html>